extends layout

block content
    h1 OPENi Registry Search
    p Search for relevant OPENi objects/types
    p Currently you can search for objects/types by terms(s)
        ul
            li name
            li age
            li name <em>and</em> age 
    br
    br
    form(method='post', action='/')
        fieldset
            legend Searching Types
            p
                label Search via Term(s)
                input(name='search_term', placeholder='Enter terms')
                input(type='submit', value='Search!')