body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

h1 {
    color: #74C69D;
}

/*input {
    vertical-align: top;
    background: #ffc;
}*/

label {
    display: block;
    /*float: left;
    text-align: right;*/
    margin: 2px 4px 6px 4px;
}

fieldset {
  border: 2px #74C69D solid;
  border-radius: 10px;
  width: 500px;
}

.typeResults {
  color: #74C69D;
}

.warning {
  color: red;
}

#typeNum {
  color:  #74C69D;
}

.buttons {
   position:absolute;
    transition: .5s ease;
    top: 70%;
}